APP_NAME=Demo
# APP_DEBUG=true
# APP_TRUSTED_HOSTS=x.x.x.x

## Backoffice tokens
# keys must be in config directory
OAUTH2_PUBLIC_KEY=/keys/public.pem
OAUTH2_PRIVATE_KEY=/keys/private.pem

## Database setup (MySql / MariaDB / PostgreSql)
DB_DRIVER=mysql
DB_DATABASE=dbDatabase
DB_USER=dbUser
DB_PORT=3306
DB_HOST=localhost
DB_PASSWORD=dbPassword
# DB_TABLE_PREFIX=

## Redis
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=

## caching
# CACHE_ENABLED=false